body{
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
    display: flex;
}
#logo{
    padding: 1% 5%;
}
.logo2{
    padding-left: 3%;
}
main{
    width: 100%;
}
.wrapper{
    padding: 5%;
}
#main_img{
    width: 38%;
    float: right;
}
.description{
    top: 35%;
    width: 60%;
    position: absolute;
}
.description h1{
    margin: 0;
    padding: 3% 0;
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    max-width: 100%;
}
.description p{
    color: #000000;
    font-size: 20px;
    padding-bottom: 4%;
    padding-right: 40%;
    font-weight: 600;
    max-width: 100%;
}

a.input {
    background: #1940FE;
    border-radius: 7px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 20px 200px;
    position: absolute;
}
a.input:hover{
    background: #4463fe;
}

*:after,
*:before {
    box-sizing: border-box;
}

/*
*    Общие стили
*/
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

a.close {
    background-color: #1940FE;
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

    a.close:hover {
        background-color: #4463fe;
        cursor: pointer;
    }

/*
*    Панель входа
*/
div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

    div.overlay > div.login-wrapper {
        align-self: center;
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }

        div.overlay > div.login-wrapper > div.login-content {
            background-color: #FFFFFF;
            border-radius: 30px;
            border: 7px solid rgba(25, 64, 254, 0.1);
            padding: 100px;    
            position: relative;
        }

            div.overlay > div.login-wrapper > div.login-content > h3 {
                color: rgb(0,0,0);
                font-weight: 600;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
                margin-left: 7%;
                padding-top: 20%;
            }
/*
*    Форма
*/
form label {
    color: rgb(0,0,0);
    display: block;
    font-size: 1.25em;
    margin: .75em 0;    
}

    form input[type="text"],
    form input[type="password"],
    form textarea {
        background-color: #ECEFFF;
        border: 1px solid #CFD6FF;
        border-radius: 7px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        display: block;
        font-size: .65em;
        margin: 6px 0 22px 0;
        padding: .8em .55em;    
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        transition: all 400ms ease;
        width: 90%;
    }

    form input[type="text"]:focus,
    form input[type="password"]:focus,
    form textarea:focus,
    form select:focus { 
        border-color: #4195fc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    }

        form input[type="text"]:invalid:focus,
        form input[type="password"]:invalid:focus,
        form textarea:invalid:focus,
        form select:invalid:focus { 
            border-color: #C1D9FD;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #C1D9FD;
        }

form button {
    background-color: #1940FE;
    color: rgb(255,255,255);
    border: #1940FE;
    font-size: .85em;
    border-radius: 7px;
    padding: .75em .9em;
    transition: all 400ms ease;
    width: 90%;
}

    form button:hover {
        background-color: #4463fe;
        cursor: pointer;
    }