*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
.form-title{
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 35px;
    justify-content: center;
    display: flex;
}
input{
    height: 58px;
    width: 496px;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid #CFD6FF;
    border-radius: 7px;
    padding-left: 14px;
    color: #545456;
}
input:focus{
    outline: none;
    border: 2px solid #C1D9FD;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    padding-bottom: 47px;
    display: flex;
    justify-content: center;
}
.autorization-form-container{
    max-width: 754px;
    width: 100%;
    background: #FFFFFF;
    border: 7px solid rgba(25, 64, 254, 0.1);
    border-radius: 30px;
    padding-left: 129px;
    padding-right: 129px;
    padding-top: 131px;
    padding-bottom: 123px;
}
.form-field{
    margin-bottom: 35px;
}
.form-button{
    background: #1940FE;
    border-radius: 7px;
    display: block;
    color: #fff;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
.form-button:hover{
    background: #4463fe;
}