body{
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
    display: flex;
}
#logo{
    padding: 1% 5%;
}
#upload-btn{
    position: absolute;
    width: 640px;
    height: 165px;
    left: 30%;
    top: 346px;
    background: #ECEFFF;
    border: 1px solid #CFD6FF;
    border-radius: 7px;
 
    }
#import-btn{
    display: flex;
    padding: 24px 218px;
    position: absolute;
    width: 640;
    height: 77px;
    left: 30.5%;
    top: 560px;
    background-color: #1940FE;
    border-radius: 7px;
    border: #1940FE;
}
#import-btn:hover{
    background: #4463fe;
    cursor: pointer;
}
#upload-text{
    width: 189px;
    height: 29px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
   
}

a{
    align-items: stretch;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    text-decoration: none !important;
border: none !important;
}
.podpis{
position: absolute;
width: 413px;
height: 51px;
left:150px;
top:43px;
margin-top: 20px;
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: #000000;
}
#H1Style{
    padding-left: 5%;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

#strelaForm{
    margin-right:450px;
}